.description{
    font-size: 16px;
    margin-bottom: 40px;
}

.list-alerts{
    p{
        font-size: 14px;
    }
    .w30{
        width: 30%;
    }
    .w20{
        width: 20%;
    }
    .w40{
        width: 40%;
    }
    .w60{
        width: 40%;
    }
    .w50{
        width: 50%;
    }
    .w10{
        width: 10%;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f7f7f7;
        padding: 10px 20px;
        margin-bottom: 4px;
        font-size: 14px;
        
        .date{
            &.altered{
                color: red;
            }
            &.current{
                color: #666;
            }
        }
    }
}